@using Microsoft.AspNet.Identity
@model AppPet.MVC.Models.Servico

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Serviço</h2>


<div>
    <button onclick="document.location.href = 'http://localhost:51778/Servico/Index'" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Voltar
    </button>
</div>
<hr />
@*@using (Html.BeginForm("UploadFile", "Servico", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //@Html.TextBoxFor(m => m.File, new { type = "file" })
    if (ViewBag.NomeArquivo != null && ViewBag.NomeArquivo != "")
    {
        <img src="~/Upload/@ViewBag.NomeArquivo">
    }
    @Html.TextBox("fileUpload", null, new { type = "File" })
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Enviar</button>

}*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Serviço</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserInc, new { @Value = @User.Identity.GetUserName() })
        <div class="form-group">
            @Html.LabelFor(model => model.TipoServicoId, "Tipo de Serviço", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoServicoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoServicoId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Espécie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EspecieId", ViewBag.ListaEspecies as SelectList, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RacaId, "Raça", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RacaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RacaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/jscript">
        $(function () {
            $('#EspecieId').click(function () {
                $.getJSON('/Servico/ListaRacas/' + $('#EspecieId').val(), function (data) {
                    var items = '';
                    $.each(data, function (i, district) {
                        items += "<option value='" + district.Value + "'>" + district.Text + "</option>";
                    });
                    $('#RacaId').html(items);
                });
            });
        });
    </script>
}
