@model PagedList.IPagedList<AppPet.MVC.Models.Especie>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Gerenciar Espécies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerenciar Espécies</h2>

<p>
    <button onclick="document.location.href = 'http://localhost:51778/Especie/Create'" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-file"></span> Novo Registro
    </button>
</p>
@using (Html.BeginForm("Index", "Especie", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            Palavra-chave: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control-custom" }) <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
        </div>
        <div class="col-md-4">
            Itens por página: @Html.TextBox("pages", "3", htmlAttributes: new { @class = "form-control-custom", @type = "number", @style = "width:60px" })
        </div>
    </div>
}
<br />
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr style="background-color:#f5d3e9">
            <th>
                @Html.ActionLink("Espécie", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, pages = ViewBag.pages })
            </th>
            <th>
                @Html.ActionLink("Descrição", "Index", new { sortOrder = ViewBag.DescSortParm, currentFilter = ViewBag.CurrentFilter, pages = ViewBag.pages })
            </th>
            <th width="100px">
                <a href="#">Opções</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <button title="Editar" onclick="document.location.href = 'http://localhost:51778/Especie/Edit/' + @item.EspecieId" type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button title="Detalhes" onclick="document.location.href = 'http://localhost:51778/Especie/Details/' + @item.EspecieId" type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <button title="Excluir" onclick="document.location.href = 'http://localhost:51778/Especie/Delete/' + @item.EspecieId" type="button" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pages = ViewBag.pages }))